*{
    margin:0;    
    padding: 0;
  }
  .side-bar{
    display: flex;
  }
  .icon-bar {
    width: 50px;
    background-color: #e4e1e1;
    height: 100%;
  }
  .icon-bar a {          
    display: block;          
    text-align: center;
    padding: 16px;
    padding-bottom: 30px;
    transition: all 0.3s ease;
    color: rgb(10, 10, 10);
    font-size: 20px;
  }
  .icon-bar a:hover {           
    background-color: #454545;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
  }
  
  .content {
      display: flex;
      flex: 1 1 auto; 
      flex-direction: column;
  }
  .music-head {
     flex: 0 0 280px; 
    display: flex;  
    padding: 40px;
    background-color: #4e4e4e;
  }
  .musics {
      flex: 1 0 auto;
      list-style-type: none;
      padding: 5px 10px 0px;
  }
  li {
    display: flex;
    padding: 0 20px; 
    min-height: 50px;
  }
  li p {
    flex: 0 0 25%;
  }
  li span.catty-cloud {
    border: 1px solid black;
    font-size: 0.6em;
    padding: 3px;
  }
  li:nth-child(2n) {
    background-color: #f2f2f2;
  }
  .catty-music{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
  }
  .catty-music div:nth-child(1){
    margin-bottom: auto;
  }
  .catty-music div:nth-child(2){
    margin-top: 0;
  }
  .catty-music div:nth-child(2) i.fa{
    font-size: 0.9em;
    padding: 0 0.7em;
    font-weight: 300;
  }
  .catty-music div:nth-child(1) p:first-child{
    font-size: 1.8em;
    margin: 0 0 10px;
  }
  .catty-music div:nth-child(1) p:not(:first-child){
    font-size: 0.9em;
    margin: 2px 0;
  }
  footer{
    padding: 10px;
    background-color: #7a7af5;
    color: white;
    flex: 0 0 90px;
    display: flex;
  }
  .footers{
    display: flex;
    margin-right: auto;
  }
  .footers img{
    width: 100px;
    padding-right: 10px;
  }
  .footer-control{
    display:flex;
    align-items: center;
    justify-content:space-between ;
    width: 50%;
  }